<div class="row">
  <div class="col-sm-3" id="sidebar" role="navigation">
    <div class="well sidebar-nav" data-spy="affix" data-offset-top="0">
      <ul class="nav">
        {{> menu}}
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

  <div class="col-sm-9">
    <div class="page-header">
      <h1>{{title}}</h1>
      {{#description}}<p>{{description}}</p>{{/description}}
    </div>
    <div class="row">
      {{> content}}
    </div><!--/row-->
  </div><!--/span-->
</div><!--/row-->
